.mainBody{
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 10px;
    max-width: 900px;
    background: linear-gradient(0deg, rgba(105,205,235,1) 0%, rgba(0,87,156,1) 100%);;
}

.searchText {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchIcon {
    position: absolute;
    display: inline-flex;
    padding:7px 10px 5px 10px;
}

.fa-search {
    color: #2a2a2a;
}

.searchText {
    padding-left: 30px;
}

.searchBar {
    padding: 10px;

}

.button {
background-color: #233F89;
color: white;
font-family: 'Montserrat', sans-serif;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 10px;
padding: 2px 15px;
transition: all .5s ease-in-out;
}

.button:hover {
    background-color: #172A5D;
    cursor: pointer;
}

 .city {
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
    color: white;
 }

 #icon {
     color: white;
     max-width: 150px;
 }
.codedby {
    color: rgba(0,0,0,0.7);
    text-align: center;
}

.gitLink {
    text-decoration: none;
}

#date, #time {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 0;
    color: rgba(237, 245, 247, 0.8)
}

#displayTemp, #weatherState {
    font-family: 'Roboto Slab', serif;
    color: white;
    text-transform: capitalize;
}

#displayTemp {
    font-size: 64px;
}

.additionalInfo {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#forecast {
    color: white;
}